@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;800;900&display=swap");
html,
body {
    padding: 0;
    margin: 0;
    font-family: "Nunito Sans", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

.content {
    margin-top: 5em;
    margin-left: 6em;
}
.content-w-banner {
    margin-top: 5em;
}
button {
    background: #8c98ff;
    border-radius: 10px;
    height: fit-content;
    padding: 0.8em;
    border: none;
    font-weight: 550;
    font-size: 15px;
    text-align: center;
}

.foot {
    background-color: black;
    color: white;
    display: flex;
    place-items: center;
    padding: 0.5em;
}
